/** Some icons would be great **/
.cell-nothing { 	background: lightgrey; }
.cell-trashbin { background: darkgrey; }
.cell-cloner { background: lightblue; }
.cell-deflector-left{ background: lightgreen; }
.cell-deflector-right { background: lightgreen; }
.cell-incrementor { 	background: greenyellow; }
.cell-decrementor { 	background: lightcoral; }
.cell-portal { 	background: azure; }
.cell-synchroniser { 	background: palegoldenrod; }
.cell-less-than { 	background: springgreen; }
.cell-greater-than { 	background: tomato; }
.cell-equal-to { 	background: turquoise; }
.cell-random { 	background: seashell; }
.cell-subroutine { 	background: palevioletred; }
.cell-input { 	background: yellow; }
.cell-output { 	background: green; }
.cell-terminate { 	background: orchid; }
.cell-hex-literal { 	background: lavender; }
.cell-left-shift { 	background: bisque; }
.cell-right-shift { 	background: burlywood; }
.cell-bit-check { 	background: powderblue; }
.cell-bitwise-not { 	background: salmon; }
.cell-constant-add { 	background: mediumspringgreen; }
.cell-constant-sub { 	background: mediumturquoise; }
.cell-stdin { 	background: chartreuse; }
.cell-invalid { 	background: red; }

table {
	font-size: 20px;
}
table, tr, td{
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}
td{
	vertical-align: middle;
	border: 1px solid grey;
	height: 40px;
	width: 40px;
	min-height: 40px;
	min-width: 40px;
	max-height: 40px;
	max-width: 40px;
	z-index: 0;
}

html, body{
	height: 100%;
	overflow: hidden;
	text-align: center;
	margin: 0;
}

header {
	height: 7%;
}
h1, p {
	margin: 0;
	padding: 0;
}
p {
	display: inline-block;
	margin-right: 15px;
}

main {
	height: 93%;
}
#main1{
	height: 92%;
	background: lightblue;
}
#container {
	height: 100%;
	overflow: auto;
}
#main2{
	height: 8%;
	text-align: left;
	margin-left: 15px;
}
#main2 > p{
	margin-top: 15px;
}

div > table{
	margin-left: auto;
	margin-right: auto;
}

textarea{
	resize: none;
	height: 80%;
	width: 70%;
	font
}

.focused {
	outline-color: rgb(45, 114, 224) !important;
	outline-style: auto !important;
	outline-width: 5px !important;
	z-index: 5000;
}
.selected {
	outline-color: rgb(19, 148, 24) !important;
	outline-style: auto !important;
	outline-width: 5px !important;
	z-index: 999;
}
.selected.focused {
	outline-color: rgb(19, 73, 148) !important;
	outline-style: auto !important;
	outline-width: 5px !important;
	z-index: 9999;
}
.ui-state-disabled{
	opacity: 1;
}
